* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
  background-color: rgb(52, 46, 74);
}
form{
  background-color: #F93B50;
}
input{
  border-radius: 10px;
}
.back-top {
    width:25px;
    height:25px;
    background:#CA0433;
    position:fixed;
    bottom:68px;
    right:5px;
    display:none;
    opacity:0.8;
}
.back-top::after{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email, form{
  width: 100%;
  height: 100px;
  text-align: center;
 border: 0.5rem outset pink;
 border-radius: 12px;
 font: bold 1rem sans-serif;
 background-color: #F93B50;
}
.hidden, .skills{
  display: none;
}
.intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 675px;
}
.new{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.bio{
  width: 100%;
  height: 600px;

}
.headShot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headShot > img{
  border-radius: 250px;
  width: 100%;
  height: 500px;
}
.aboutMe{
  width:90%;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1.3em;
}
.headShot, .aboutMe{
  margin-top: 50px;
  width: 50%;
  height:550px;
  float: left;
}
.links{
  width: 100%;
  height:200px;
  margin-top: 125px;
  text-align: center;
  border: 0.5rem outset pink;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  background-color: #F93B50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.links > a {
  font-size: 3em;
  color: white;
  text-decoration: none;
  margin-left: 5%;
}
.links > a:hover{
  color: red;
}

#send{
  background-color: #D30E38;
  border: none;
  height: 25px;

}
#text{
  width:25%;
  height:75px;
}
#back{
  color: white;
  font-family: monospace;
  font-size: 1em;
}
#check, #resume{
  height: 100px;
  background-color: #815F76;
  border: none;
  border-radius: 5px;
}
#check > a{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
#check:hover, #resume:hover{
  background-color: #AC0C37;
}
#go{
  font-size: .9em;
}
#moneyMaker{
  width:100%;
}
#msg, .aboutMe > p{
  text-align: center;
}
#shrink{
  background-color: #815F76;
  border: none;
  border-radius: 5px;
  color: white;
}
 @media (max-width: 667px) {
   .email, #moneyMaker, .buttons{
     display: none;
   }
   .hidden{
     display:inline;
   }
   .headShot, .aboutMe{
     width:100%;
   }
   .aboutMe{
     font-size: 1em;
   }
   .new > img, .logo{
     width: 100%;
   }
   .new > img{
     height: 700px;
   }
   .logo{
     height: 400px;
   }
   .links >a {
     font-size: 1.5em;
   }
   .links{
     height: 50%;
   }
   .intro{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
.skills{
  display:inline;
  color: white;
  font-size: 1.2em;
  margin-bottom: -100px;
  margin-top: -100px;
}
